@charset "UTF-8";

/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Marhey:wght@300..700&display=swap');

/* || GENERAL STYLES */

body {
    margin: 0;
    padding: 0;
    font-family: "Didact Gothic", sans-serif;
    line-height: 1.6;
  }

/* container */
  .container {
    margin: 2rem auto;
    max-width: 960px;
    padding: 0 1rem;
  }



/* || SPECIFIC */

.skip-link {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  background-color: #ffbe0b;
  color: #000;
  z-index: 999;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1rem;
}

/* header */
header {
  display: relative;
  padding-top: 4rem;
}

/* nav bar */
nav {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #63b9e8d3;
  padding: 1rem 0;
  z-index: 10;
  color: white;
  padding: 1rem 0;
}

nav ul {
list-style: none;
display: flex;
justify-content: center;
gap: 2rem;
margin: 0;
padding: 0;
}
  
nav a {
text-decoration: none;
color: white;
font-weight: bold;
transition: color 0.3s;
}

nav a:hover {
color: #ff500b; 
}


/* || MEDIA QUERY */